{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": [2, "never"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": true, "peerDependencies": false}],
    "import/no-unresolved": ["off", {}],
    "max-len": 0,
    "object-curly-spacing": [2, "never"]
  }
}
