language: node_js
sudo: false
node_js:
  - "6"
  - "stable"

env:
  global:
    - CODACY_PROJECT_TOKEN=f041e6cde1724bacae7ede212c5b8539

before_script:
  - date --rfc-2822

script:
  - npm test
  - npm run lint
  - npm run test:coverage

after_script:
  - cat coverage/lcov.info | codacy-coverage
